.card-wrapper8{
  display: flex;
/* justify-items: center; */
flex-direction: column;
align-items: center;
}
.image{
  margin-top: 45px;
  border-radius:50%;
  border: 4px solid rgb(53, 53, 158);
  /* object-fit:center; */
  overflow:hidden;
/* background-color: grey; */
/* padding-top: 10px; */

}
.l2{
font-size: x-large;
}
.name{
  margin-top: -28px;
  font-family: cursive;
  font-size: 25px;
  margin-top: 1rem;
}

.designation{
  letter-spacing: 15px;
  text-transform: uppercase;
  margin-left: 15px;
}

.quote{
  margin-top: 2rem;
  font-size: 28px;
  width:250px

}

.paragraph{
  margin-top: 0.8rem;
  width:280px;
  letter-spacing: 0.5px;
  /* border:2px solid black; */
  white-space: normal;  
}

.quote:before{
  content: "\0022";
position: absolute;
}