/* @font-face{
  font-family: myFont;
  src: url(../fonts/BebasNeue-Regular.eot)

} */

.container{
  width: 80%;
  margin: 0 auto;
  
}
ul li {
  list-style: none;
}

.app{
  background: url("../img/desktop-banner.jpg") ;

  /* height: 100vh; */
  position: absolute;
  width: 100%;
  height: 110%;
  background-position: center;
  background-size:cover;

  background-repeat: no-repeat;
 
 
}
.line1 h1{
 padding-top: 1rem;
  color: #fff;
  /* font-family: myFont; */
  font-size: 2.5rem;
 
}
.line2{
  color: #fff;
  font-size: 1.25rem;
}
/* @media(min-aspect-ratio: 16/9){
  .header img{
    width:100%;
    height:auto;
  }
}
@media(max-aspect-ratio: 16/9){
  .header img{
    width:auto;
    height:100%;
  }
} */
.input-fields{
  display: flex;
}
.select{
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-submit{
padding-left: 10px;
padding-right: 10px;
border-radius: 5px;
border: solid transparent;
/* background-color: rgb(85, 198, 74); */
background-color: #07f288;
background-image: linear-gradient(315deg, #f2cf07 0%, #55d284 74%);
color: #fff;
font-size: large;
cursor: pointer;
}

.btn-submit:hover{
  background-color: green;
}